/* Global */
header {
    width: auto;
    height: auto;
}

main {
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 92px;
}

h1 {
    font-size: 2em;
    font-family: fantasy;
    padding-left: 20px;
    text-align: center;
}


/* Navbar */

.navbar {
    background-color: #f0ff63b3;
}

.logo img {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 100px;
}

/* Nav font color  */
.nav-link {
    color: black;
}

/* Nav font color and font-weight  */
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: black;
    font-weight: bold;
}

.navbar a:hover {
    color: black;
    font-weight: bold;
}



/* Footer */

footer {
    background: #333;
    color: #fff;
    padding: 50px 0;
    margin-top: 100px;
}

.footer-container  {
        width: 80%;
        margin: 0 auto;
        
}